*{
    margin: 0;
    padding: 0;
    --main-color: rgb(5, 113, 139);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
}
body{
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
}
header h1{
    color:var(--main-color);
    padding: 60px 20px;
    font-size: 1.8rem;
    text-align: center;
}
header h1::after{
    content:"Simplifying Academic Writings For Everyone";
    display: block;
    font-size: .7rem;
    color: olive;
    font-style: italic;
    padding-top: 20px;
}
.main-nav{
    display: flex;
    justify-content: center;
    background: var(--main-color);
    padding: 4px 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.main-nav a{
    text-decoration: none;
    padding:7px 12px;
    color: white;
}
a{
    text-decoration: none;
}
.read-more-arrow{
    float: right;
    background: lightgray;
    padding: 0 10px;
}
.main-nav a:hover{
    padding: 7px 12px;
    background: lightgray;
    color: steelblue;
}
.toggle-link{
    display: none;
}
.wrapper{
    width: 95%;
    margin: 60px auto;
}
.post{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: auto;
    padding-bottom: 16px;
    border-bottom: 1px solid lightgray;
}
.post-type{
    grid-area: 1/2 span 1/ span1;
    font-style: italic;
    color: rgb(187, 101, 3);
    font-size: .8rem;
    padding-top: 10px;
    text-decoration: underline;
}
.item-image{
    grid-area: 1/1/span 4/span 1;
    width: 60px;
}
.book-cover{
    width: 60px;
}
.item-image:hover{
    width: 120px;
}
.post .title{
    grid-area: 2/2/span 1/ span 1;
}
.post .author{
    grid-area: 3/2/ span 1/span 1;
}
.post .post-date{
    grid-area: 4/2/ span 1/ span 1;
}
.post .first-para{
    grid-area: 5/2/ span 1/ span 1;
}
.review-item-details{
    grid-area: 5/1/span 1/ span 1;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.title, .author, .post-date, .first-para{
    padding: 2px 0;
}
.title, .item-title{
    color: var(--main-color);
}
.title{
    font-size: 1.3rem;
}
.author, .item-author{
    font-style: italic;
    color: darkolivegreen;
}
.item-title, .item-author, .publisher, .publication-year{
    padding: 2px 0;
}
.fullpost{
    width: 80%;
    margin: 60px auto;
}
.fullpost p{
    padding: 10px 0px;
}
.main-content{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main-content .post{
    padding: 10px;
}
.sidebar{
    background: rgb(248, 245, 245);
    padding: 0 10px;
    font-size: 92%;
}
.sidebar .title{
    color: darkolivegreen;
    font-size: 1.2rem;
}
.sidebar p, .contact p{
    padding: 10px 0;
}
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    padding: 6px;
    background: var(--main-color);
    margin: 0 auto;
    color: white;
}
@media only screen and (max-width: 512px){
    .main-nav{
        flex-direction: column;
        padding-left: 0;
        margin: 0 auto;
        text-align: right;
    }
    .nav-link{
        display: none;
    }
    .toggle-link{
        display: inline-block;
        color: white;
        padding-left: 12px;
        text-align: right;
    }
    .show-link{
        display: initial;
        padding: 12px 0;
    }
    .wrapper{
        margin: 0 auto;
    }
}
@media only screen and (min-width: 900px){
    header h1{
        font-size: 2.5rem;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 250px 2fr;
        grid-gap: 20px;
        width: 90%;
        max-width: 1000px;
        margin: 60px auto;
    }
    .contact{
        grid-area: 1/3/span 1/span 1;
        /* background: lightgray; */
    }
    .sidebar{
        grid-area: 1/1/span 1/ span 1;
        /* background: lightgray; */
        margin-top: 0;
    }
}