*{
    margin: 0;
    padding: 0;
    --main-color: steelblue;
}
body{
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
}
header img{
    display: block;
    max-width: 100%;
    height: 60%;
}
header h1{
    color:var(--main-color);
    padding: 60px 20px;
    font-size: 1.8rem;
    text-align: center;
}
header h1::after{
    content:"Simplifying Academic Writings On Nepal For Everyone";
    display: block;
    font-size: .8rem;
    color: olive;
    font-style: italic;
    padding-top: 20px;
}
.main-nav{
    display: flex;
    justify-content: center;
    background: steelblue;
    padding: 6px 12px;
}
.main-nav a{
    text-decoration: none;
    padding:6px 12px;
    color: white;
}
a{
    text-decoration: none;
}
.main-nav a:hover{
    padding: 6px 12px;
    background: lightgray;
    color: steelblue;
}
.toggle-link{
    display: none;
}
.wrapper{
    width: 100%;
    margin: 20px auto;
}

.post{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    background: lightgray;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid var(--main-color);
    box-shadow: 2px 2px 8px lavender;
}
.list-image{
    grid-area: 1/1/span 4/span 1;
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}
.post .title{
    grid-area: 1/2/span 1/ span 1;
}
.post .author{
    grid-area: 2/2/ span 1/span 1;
}
.post .post-date{
    grid-area: 3/2/ span 1/ span 1;
}
.post .first-para{
    grid-area: 4/2/ span 1/ span 1;
}

.title, .author, .post-date, .first-para, .list-image{
    padding: 10px 0;
}
.title{
    color: var(--main-color);
}
.author{
    font-style: italic;
}
.book-image{
    display: block;
    max-width: 100%;
    max-width:300px;
    margin: 10px 0;
}
.review-item-details{
    background: rgb(248, 248, 239);
    padding: 10px 0;
    margin: 20px 0;
}
.book-title{
    color: var(--main-color);
    

}
.sidebar, .contact{
    /* background: lightgray; */
    border: 1px solid var(--main-color);
    max-width: 600px;
    margin: 20px auto;
}
.sidebar .title, .contact .title{
    text-align: center;
    color: var(--main-color);
}
footer{
    text-align: center;
    padding: 6px;
    background: steelblue;
    margin: 20px 0;
    color: white;
}
@media only screen and (max-width: 512px){
    .main-nav{
        flex-direction: column;
        padding-left: 0;
        margin: 0 auto;
    }
    .nav-link{
        display: none;
    }
    .toggle-link{
        display: inline-block;
        color: white;
        padding-left: 12px;
    }
    .show-link{
        display: initial;
        padding: 12px 0;
    }
    .wrapper{
        margin: 0 auto;
    }
}
@media only screen and (min-width: 900px){
    .wrapper{
        width: 100%;
        margin: 0px auto;
    }
    main{
        display: grid;
        grid-template-columns: 200px 2fr 200px;
        grid-gap: 10px;
        max-width: 1000px;
        margin: 20px auto;
    }
    .contact{
        grid-area: 1/3/span 1/span 1;
        /* background: lightgray; */
        margin: 10px 0;
    }
    .sidebar{
        grid-area: 1/1/span 1/ span 1;
        /* background: lightgray; */
        margin: 10px 0;
    }
}