<!--Individual Book Reviews Begin-->
<div class="post">
    <h3 class="title"></h3>
    <h4 class="author"></h4>
    <p class="post-date"></p>
    <img src="/images/" alt="" class="post-image">
    <div class="br-content">
        <p class="first-para"> <a href="">Read more</a></p>
    </div>
    <div class="review-item-details">
        <h5 class="item-title"><em></em></h5>
        <h6 class="item-author"></h6>
        <h6 class="publisher"></h6>
        <h6 class="journal"></h6>
        <h6 class="publication-year"></h6>
    </div>
</div>
<!--Individual Book Reviews End-->