<main class="wrapper">
    <!--Review Item begins-->
    <section class="post">
        <h6 class="post-type">Book Review</h6>
        <div class="list-image">
            <img src="" alt="">
        </div>
        <h2 class="title"></h2>
        <h4 class="author"></h4>
        <h5 class="post-date"></h5>
        <p class="first-para"></p>
        <div class="review-item-details">
            <h5 class="item-title"><em></em></h5>
            <h6 class="item-author"></h6>
            <h6 class="publisher"></h6>
            <h6 class="journal"></h6>
            <h6 class="publication-year"></h6>
        </div>
    </section>
    <!--Review Item ends-->

</main>