<main class="wrapper">
    <section class="post">
        <div class="list-image">
            <img src="" alt="">
        </div>
        <h2 class="title"></h2>
        <h4 class="author"></h4>
        <h5 class="post-date"></h5>
        <p class="first-para"></p>
    </section>
    <section class="post">
        <div class="list-image">
            <img src="" alt="">
        </div>
        <h2 class="title"></h2>
        <h4 class="author"></h4>
        <h5 class="post-date"></h5>
        <p class="first-para"></p>
    </section>

</main>