<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="Nepal, book reviews, academic articles, South Asia" />
    <meta name="description" content="A site for publishing reviews of scholarly books and articles on Nepal, and scholarly informed comments on various issues" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Welcome to Nepal Reviewed</title>
</head>

<body>
    <header>
        <h1>Nepal Reviewed</h1>
    </header>
    <nav class="main-nav">
        <div class="toggle-link">&#9776;</div>
        <div class="nav-link"><a href="/index.html">Home</a></div>
        <div class="nav-link"><a href="/pages/list_pages/article_list.html">Articles</a></div>
        <div class="nav-link"><a href="/pages/list_pages/book_review_list.html">Books</a></div>
        <div class="nav-link"><a href="/pages/list_pages/commentary_list.html">Comments</a></div>
    </nav>

    <footer>
        <p>&copy; Anil Bhattarai, 2018</p>
    </footer>

    <script src="/static/main.js"></script>
</body>

</html>